/* .preview-container iframe {
  border: none;
  width: 100%;
  height: 100%;
} */

iframe {
  width: 100%;
  height: 300px;
  border: 2px solid #5c0ab0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f8ff;
  margin-top: 20px;
  padding: 15px;
}