/* Main container for editor and preview */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #282c34; /* Dark background for overall layout */
}

/* Tab button styles */
.tabs {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-right: 10px; */
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  /* padding: 14px 16px; */
  padding: 12px 68px 12px 68px;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .tabs button {
  background-color: #ffffff; 
  color: #000;
  border: 2px solid #5c0ab0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
} */

/* Active tab styles */
.tabs button.active {
  background-color: #5c0ab0; /* Purple background for active tab */
  color: #fff;               /* White text for active tab */
}

.tabs button:hover {
  background-color: #a80732; /* Hover effect for tabs */
  color: #fff;
}

/* Code editor container */
.code-editor-container {
  width: 60%;                /* Take up majority of the screen width */
  margin-right: 20px;
}

.code-editor-container .monaco-editor {
  border: 2px solid #5c0ab0;  /* Border to match the tab buttons */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Preview container */
.preview-container {
  width: 35%;                /* Remaining space for live preview */
  background-color: #f4f8ff;  /* Light blue background for preview */
  padding: 20px;
  border: 2px solid #5c0ab0;  /* Same border as editor for consistency */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.preview-container h1 {
  color: #000;
}

.preview-container p {
  color: #000;
}
