.container{
  display: flex;
  height: 100vh;
  margin: 1vw;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.tabs{
  display: flex;
  flex-direction: column;
  padding: 1vw;
  background-color: #df1919;
  color: rgb(0, 255, 4);
  border-radius: 2vw;
}
